/* For laptops */
@media screen and (max-width:1280px) {
    
    #banner-content h1 {
        font-size: 48px;

    }

    .cardsN {
        padding: 80px 20px;

    }
    #story-image img {
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

}

/* For tablets */
@media screen and (max-width:1024px) {
    #banner {
        flex-direction: column-reverse;
        margin-bottom: 75px;
        justify-content: center;
        
    }

    #banner-content {
        width: 100%;
        text-align: center;       
    }

    #banner-content h1 {
        font-size: 48px;

    }

    #banner-image {
        width: 100%;
    }
    #cards{
        flex-direction: column;
        align-items: center;
    }
    .cardsN {
        max-width: 100%;
    }
    #story-card{
        flex-direction: column;
    }
    #story-content{
        width: 100%;
        text-align: justify;
        
    }
    #country-card h2{
        width: 50%;
        text-align: center;
    }
    
    .review{
        padding-bottom: 100px;
    }
    .star {
        display: flex;
        justify-content: center;
    }

    
    
}

/* For mobiles */
@media screen and (max-width:640px) {
    #banner{
        margin-top: 50px;
    }
    #banner-content h1 {
        font-size: 36px;

    }
    .texts h2{
        font-size: 24px;
    }
    #story-content #p {
    width: 100%;
    text-align: none;

    }   

    #country-card h2{
        width: 100%;
        text-align: center;
    }
    .review {
        padding-bottom: 125px;
    }
    
    .star {
        display: flex;
        justify-content: center;
    }
    #copyright {
        flex-direction: column;
        text-align: center;
        margin-bottom: 0px;
        padding: 10px 10px;
        
    }
    footer #ul {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: center;
    }
        


    
}

/* for smaller phones */
@media (max-width: 480px) {

    html,
    body {
        overflow-x: hidden;
    }

    /* Banner */
    #banner {
        flex-direction: column-reverse;
        width: 95%;
        margin: 40px auto;
        padding: 20px;
        text-align: center;
    }

    #banner-content,
    #banner-image {
        width: 100%;
    }

    #banner-content h1 {
        font-size: 32px;
    }

    #banner-content p {
        font-size: 14px;
    }

    .btn,
    .btn-white {
        padding: 10px 20px;
        margin: 10px 0;
        font-size: 14px;
    }

    /* Cards */
    #cards {
        flex-direction: column;
        align-items: center;
    }

    .cardsN {
        width: 90%;
        padding: 30px 20px;
    }

    .cardsN h2 {
        font-size: 20px;
    }

    .cardsN p {
        font-size: 14px;
    }

    /* Story */
    #story-card {
        flex-direction: column;
        padding: 24px;
    }

    #story-content {
        width: 100%;
        text-align: center;
    }

    #story-content img {
        width: 60px;
        margin-bottom: 20px;
    }

    #story-content p {
        font-size: 14px;
        margin-top: 0px;
    }

    /* Country */
    #country-card {
        flex-direction: column;
        gap: 16px;
    }
    #country-card h2 {
        font-size: 22px;
        padding: 20px;
    }

    /* Review */
    .review {
        width: 90%;
        padding-bottom: 120px;
    }

    .review .part1 p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .star img {
        width: 200px;
    }

    .part2 h3 {
        font-size: 30px;
        bottom: 10px;
        font-weight: bolder;
    }

    /* Footer */
    #copyright {
        flex-direction: column;
        text-align: center;
        width: 100%;

    }

    footer #ul {
        gap: 10px;
        align-items: center;
    }

    footer #ul li {
        font-size: 14px;
    }

    /* Layout width fixes */
    #banner,
    #services,
    #boa,
    #country,
    #review-section{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}