* {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#FFFFFF, #EBDCFF);
}
img{
    width: 100%;
}

.btn {
    background-color: #872bff;
    border: 0px solid;
    border-radius: 30px;
    color: white;
    padding: 16px 32px;
    cursor: pointer;
    margin-right: 20px;
}

.btn-white {
    border: 2px solid #872bff;
    border-radius: 30px;

    padding: 16px 32px;
    cursor: pointer;
    margin-right: 20px;
}

.btn:hover,
.btn-white:hover {
    transform: scale(1.1);

}

#banner {
    background-color: white;
    background-image: url("../assets/hero-bg.jpg");

    margin: 100px auto 120px auto;

    width: 87.5%;

    border-radius: 40px;
    border: 2px solid #872bff10;
    padding: 20px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner-content {
    width: 50%;
}

#banner-content * {
    margin-bottom: 20px;
}

#banner-content h1 {
    font-size: 70px;
    font-weight: bold;
}

#banner-content h1 span {
    color: #F411cf;
}

#banner-content p {
    font-weight: medium;
    font-size: 18;
    color: #a8a8a8;
}

#banner-image {
    width: 50%;
}

/* Services Section */
#services,
#boa,
#country,
#review-section {

    width: 87.5%;
    margin: 0px auto 120px auto;
    text-transform: uppercase;

}

#services,
#boa,
#country,
#review-section h2 {
    text-transform: none;

}

/* Texts */
.texts {

    text-align: center;
    margin-bottom: 60px;

}

.texts h4 {
    color: #F411CF;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 20px;

}

.texts h2 {
    font-size: 44px;
    font-weight: bold;
    color: #1c1c1c;

}

/* Cards */
#cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.cardsN {

    border-radius: 30px;
    background-color: #FDFFFF;
    padding: 60px;
    text-align: center;
    max-width: 290px;

}

.cardsN:hover {
    background-image: linear-gradient(#FDFFFF, #9e54ff);
    transform: scale(1.02);
    

}

.cardsN:hover p {
    color: #0E0E0E;
}

.cardsN img {
    margin-bottom: 30px;
    width: 70px;
    height: 70px;
}

.cardsN h2 {
    font-weight: 600px;
    font-size: 28px;
    margin-bottom: 20px;
    color: #1c1c1c;
}

.cardsN p {
    color: #a8a8a8;
}

#story-card {
    background-color: #FDFFFF;
    border-radius: 24px;
    padding: 48px;
    display: flex;
    gap: 32px;
}

#story-card #story-content h1 {
    font-size: 32px;
    font-weight: bold;
    color: #1c1c1c;
    margin-bottom: 20px;
}

#story-card #story-content p {
    font-size: 16px;
    color: #0E0E0E;
    margin: 20px auto 20px auto;
}
#story-content{
    width: 60%;
}
#story-content img{
    
    width: 75px;
}
#story-content p {
    
    text-align: justify;

}

/* Country Section */
#country-card {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

#country-card h2 {
    background-color: white;
    color: #0E0E0E;
    font-size: 32px;
    font-weight: bold;
    border-radius: 16px;
    padding: 40px;
}

/* review section */
.review {
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 60px auto;
    padding-bottom: 50px;
    text-align: center;

}

.review .part1 p {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    font-size: 16px;
    color: #0E0E0E;

}

.star {
    display: flex;
    justify-content: end;
}
.star img{
    width: 225px;
    height: auto;
}

.part2 h3 {
    font-size: 20px;
    font-weight: 600px;
    opacity: 80%;
    padding-top: 50px;
    position: absolute;
    text-transform: capitalize;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

/* Footer Section */
#copyright {
    background-color: white;
    text-transform: none;
    display: flex;
    justify-content: space-between;
    width: 98.5%;
    margin:auto auto;
    padding: 17px 5px;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 32px;
    

}footer ul li:hover {
    scale: 1.10;
}
