/* Global Reset */
* {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#FFFFFF, #EBDCFF);
}

img {
    width: 100%;
}

/* Buttons */
.btn {
    background-color: #872bff;
    border: 1px solid #872bff;
    border-radius: 30px;
    color: white;
    padding: 16px 32px;
    cursor: pointer;
    margin-right: 20px;
}

.btn-white {
    border: 2px solid #872bff;
    border-radius: 30px;
    padding: 16px 32px;
    cursor: pointer;
    margin-right: 20px;
    
}

.btn-white:hover {
    transform: scale(1.05);   
}
.btn:hover{
    transform: scale(1.05);

}

/* Navbar */
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
header #logo {
    width: 150px;
    margin-top: 10px;
    margin-left: 50px ;
}
header #logo:hover  {
    
        color: white;
        cursor: pointer;
        transform: scale(1.05);
        
}
header #menu{
    /* display: none; */
    
    font-size: 28px;
    margin-right: 50px;
    margin-top: 5px;
    color: #9e54ff;
    
}
header #nav {
    list-style-type: none;
    
    display: flex;
    justify-content: right;
    
}
header #nav a {
    text-align: center;
    text-decoration: none;
    margin-right: 60px;
    color: #9e54ff;
    font-weight: bolder;
    display: block;
    padding: 14px 16px;
}
header #nav a:hover {
    color: #872bff;
    cursor: pointer;
    transform: scale(1.02);
    /* border: 3px solid #872bff; */
    border-radius: 15px;
    color: rgb(255, 255, 255);
        background-image: linear-gradient(#FFFFFF, #872bff);
}

/* Banner */
#banner {
    background-color: white;
    background-image: url("../assets/hero-bg.jpg");
    margin: 100px auto 120px auto;
    width: 87.5%;
    border-radius: 40px;
    border: 2px solid #872bff10;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner-content {
    width: 50%;
}

#banner-content * {
    margin-bottom: 20px;
}

#banner-content h1 {
    font-size: 70px;
    font-weight: bold;
}

#banner-content h1 span {
    color: #F411cf;
}

#banner-content p {
    font-weight: 500;
    font-size: 18px;
    color: #a8a8a8;
}

#banner-image {
    width: 50%;
}

/* Services Section */
#services,
#boa,
#country,
#review-section {
    width: 87.5%;
    margin: 0 auto 120px auto;
    text-transform: uppercase;
}

#services h2,
#boa h2,
#country h2,
#review-section h2 {
    text-transform: none;
}

/* Texts */
.texts {
    text-align: center;
    margin-bottom: 60px;
}

.texts h4 {
    color: #F411CF;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.texts h2 {
    font-size: 44px;
    font-weight: bold;
    color: #1c1c1c;
}

/* Cards */
#cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.cardsN {
    border-radius: 30px;
    background-color: #FDFFFF;
    padding: 60px;
    text-align: center;
    max-width: 320px;
    flex: 1;
}

.cardsN:hover {
    transform: scale(1.02);
    border: 1px solid #872bff;
}

.cardsN:hover p {
    color: #0E0E0E;
}

.cardsN img {
    margin-bottom: 30px;
    width: 70px;
    height: 70px;
}

.cardsN h2 {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 20px;
    color: #1c1c1c;
}

.cardsN p {
    color: #a8a8a8;
}

/* Story Section */
#story-card {
    background-color: #FDFFFF;
    border-radius: 24px;
    padding: 48px;
    display: flex;
    gap: 32px;
}

#story-content {
    width: 60%;
}

#story-content h1 {
    font-size: 32px;
    font-weight: bold;
    color: #1c1c1c;
    margin-bottom: 20px;
}

#story-content p {
    font-size: 16px;
    color: #0E0E0E;
    margin: 20px auto;
    text-align: left;
}

#story-content img {
    width: 75px;
}

/* Country Section */
#country-card {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

#country-card h2 {
    background-color: white;
    color: #0E0E0E;
    font-size: 32px;
    font-weight: bold;
    border-radius: 16px;
    padding: 40px;
}
#country-card h2:hover{
    cursor: pointer;
    transform: scale(1.02);
    border: 1px solid #872bff;

}

/* Review Section */
.review {
    background-color: white;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 60px auto;
    padding-bottom: 50px;
    text-align: center;
}

.review .part1 p {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    font-size: 16px;
    color: #0E0E0E;
    text-align: left;
}

.star {
    display: flex;
    justify-content: end;
}

.star img {
    width: 225px;
    height: auto;
}

.part2 h3 {
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
    padding-top: 50px;
    position: absolute;
    text-transform: capitalize;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

/* Footer */
#copyright {
    background-color: white;
    text-transform: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 17px 5px;
}

footer #ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

footer #ul li:hover {
    scale: 1.10;
}

