body {

    background-image: linear-gradient(#ffffff, #EBDCFF);
}

body.dark {

    background-image: linear-gradient(180deg, #0f0f14, #1b1026)
}

.ul-menu {
    background-color: white;
}

body.dark .ul-menu {
    background: #000;
    color: white;
}
body.dark .cardsN,body.dark .cardsN h2 , body.dark .country-name{
    background-color: #000;
    color: white;
}
.heading-h2{
    color: #1c1c1c;
}
body.dark .heading-h2 {
    color: #ffffff;
}

#story-card{
    background-color: white;
}

body.dark #story-card{
    background: #000;
}

#story-card h1{
    color: rgba(14, 14, 14, 0.8);
}

body.dark #story-card h1 {
    color: white;
}
#story-card p{
    color: rgba(14, 14, 14 ,0.7);
}

body.dark #story-card p {
    color: white;
}

.county-name{

    background-color: white ;
    color: #0e0e0e;
}
body.dark .county-name {

    background-color: black;
    color: white;
}
.review{
    background: white;
}
body.dark .review {
    background: #000;
    
}
body.dark .review *{
    color: white;
}

footer{
    background: white;
}
body.dark footer{
    background: #000;
    color: white;
}